.edge {
  stroke-width: 4px;
  stroke: #B7C8D3;
  fill: #fff;
}

.base {
  stroke-width: 2px;
  stroke: #fff;
  fill: #fff;
}

.portLabel{
  font-size: 10px;
  z-index: 9999;
  width: 100px;
  text-align: center;
}