@import "../../../../../sass/common";

.dragPosition {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    // この設定が無いとドロップ処理が上手くいかないらしい
    pointer-events: none;
}

.dragPreview {
    z-index: 10;
    width: 32rem;
    border: 1px dashed gray;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    cursor: move;
    @include list-select-color();
}
