@import "../../../../sass/common";

.command {
  display: block;
  height: auto;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
  padding: 4px 8px;

  &:hover {
    transition: all 0.3s;
    background: $kskp-property-command-hover-background-color;
  }
}

.command_label_container {
  padding: 6px 4px;
  float: left;
  display: inline-block;
  width: calc(100% - 60px);
}

.command_label {
  color: $kskp-property-operator-label-color;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
}

.command_description {
  color: $kskp-property-operator-label-color;
  padding-top: 4px;
  text-overflow: ellipsis;
  font-size: 10px;
}

.command_icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 5px;
  //border: 1px solid $kskp-property-operator-border-color;
  //background: $kskp-property-operator-background-color;
  //color: $kskp-property-operator-icon-color;
  //border-radius: 6px;
  //font-size: 28px;
  //padding: 6px;
  float: left;
}

.show_detail {
  float: right;
}