.DS_Store

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv

# pycache
__pycache__

# frontend
node_modules
web/frontend/static/js/app.js
web/frontend/static/js/vendor.js
web/frontend/static/js/common.js
web/frontend/static/js/dist/vendor-manifest.json
web/frontend/static/css/app.css
.idea
coverage
flow-coverage

*.egg-info

kskp.db

build/
dist/
.vscode/settings.json
