@use 'sass:color';
@import "../../../../../sass/common";

.button {
  display: inline-block;
  border: 1px solid $streamcat-button-border;
  border-radius: 4px;
  box-shadow: 0 1px 1px $streamcat-button-shadow;
  margin: 0 8px 0 0;
  outline: none !important;
  cursor: pointer;
  min-width: 80px;
  min-height: 30px;
  padding: 1px 7px 2px;
  background-image: linear-gradient(to bottom, #fefefe, #f1f3f6);

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.danger {
    border: 1px solid $streamcat-danger!important;

    .text, .icon {
      color: $streamcat-danger !important;
    }
  }

  &:hover {
    background-color: color.adjust($streamcat-button-background, $lightness: -5%);
    border: 1px solid color.adjust($streamcat-button-border, $lightness: 5%);
    transition: all 0.3s;
  }

  &.primary {
    border: 1px solid color.adjust($streamcat-dark-gray, $lightness: -5%);
    background: $streamcat-dark-gray;
    color: #fff !important;
  }

  &.primary:hover {
    background-color: color.adjust($streamcat-dark-gray, $lightness: -5%);
    border: 1px solid color.adjust($streamcat-dark-gray, $lightness: 5%);
    transition: all 0.3s;
  }
  &.primary{
    .icon{
      color: #fff!important;
    }
  }
}

.text {
  top: -0.5px;
  position: relative;
  color: $streamcat-text !important;
  font-size: 12px;
  display: inline-block;
}

.whiteText {
  top: -0.5px;
  position: relative;
  color: #fff;
  font-size: 12px;
  display: inline-block;
}

.icon {
  display: inline-block;
  color: $streamcat-text !important;
  font-size: 16px;
  line-height: 1em;
  padding-right: 4px;
  position: relative;
  top: 3px;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}