@for $i from 0 through 10 {
  $space: $i * 4;
  .m-#{$space}px{
    padding: #{$space}px !important;
  }
  .mx-#{$space}px{
    margin-left: #{$space}px !important;
    margin-right: #{$space}px !important;
  }
  .my-#{$space}px{
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }
  .mb-#{$space}px{
    margin-bottom: #{$space}px !important;
  }
  .mt-#{$space}px{
    margin-top: #{$space}px !important;
  }
  .p-#{$space}px{
    padding: #{$space}px !important;
  }
  .px-#{$space}px{
    padding-left: #{$space}px !important;
    padding-right: #{$space}px !important;
  }
  .py-#{$space}px{
    padding-top: #{$space}px !important;
    padding-bottom: #{$space}px !important;
  }
  .pt-#{$space}px{
    padding-top: #{$space}px !important;
  }
  .pb-#{$space}px{
    padding-bottom: #{$space}px !important;
  }
}