
.navbar {
  background: $kskp-nav-background-color;
  height: 64px;
  padding: 0 12px;
  .navbar-brand img{
    padding-top: 4px;
    padding-left: 8px;
    height: 25px;
  }
  .breadcrumb-navbar{
    .nav-item{
      height: 34px;
      padding: 6px 12px;
      background: rgba(255,255,255,0.2);
      border-radius: 4px;
      margin-right: 8px;
      .nav-link{
        padding: 0;
        color: #fff;
        font-size: 14px;
      }
      border-bottom: 4px solid transparent;
      &.active{
        .nav-link{
          color: #fff!important;
        }
        background: transparent!important;
        border:1px solid $kskp-nav-active-border-color;
      }
    }
  }

  .menu-navbar{
    .nav-item{
      height: 64px;
      padding: 12px;
      .nav-link{
        color: #ddd!important;
      }
      border-bottom: 4px solid transparent;
      &.active{
        .nav-link{
          color: #fff!important;
        }
        border-bottom: 4px solid #71D4FD;
        font-weight: bold;
      }
    }
  }

  .user-profile {
    padding: 0.5rem;
    border-bottom: 4px solid transparent;
    .user-name, .user-icon {
      color: #fff !important;
      font-size: 14px;
      line-height: 14px;
    }
    .user-name{
      margin-left: 8px;
    }
    .user-icon {
      font-size: 18px;
      margin-top: -1px;
    }
  }
}
//
//
//.navbar {
//  height: 64px;
//  padding: 0 12px;
//  .user-profile {
//    padding: 0.5rem;
//    border-bottom: 4px solid transparent;
//    .user-name, .user-icon {
//      color: #fff !important;
//      font-size: 14px;
//      line-height: 14px;
//    }
//    .user-name{
//      margin-left: 8px;
//    }
//    .user-icon {
//      font-size: 18px;
//      margin-top: -1px;
//    }
//  }
//}
//
//
