.DS_Store

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv

# pycache
__pycache__

# frontend
node_modules
kskp/static/js/all.js
kskp/static/js/app.js
kskp/static/js/vendor.js
kskp/static/js/common.js
kskp/static/js/dist/vendor-manifest.json
kskp/static/css/app.css
.idea
coverage
flow-coverage

*.egg-info

kskp.db

build/
dist/
.vscode/settings.json
.vscode/settings.json
