.DS_Store

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv

# pycache
__pycache__

# frontend
node_modules
kskp/static/js/all.js
kskp/static/js/app.js
kskp/static/css/app.css
.idea
