@import "../../../../../../sass/common";

.param {

}

.label {
  margin: 0;
  padding: 0 !important;
}

.checkbox {
  position: relative;
  top: -2px;
  margin-right: 8px;
}

.required {
  color: red;
}

.description {
  width: 100%;
  word-wrap: normal;
  white-space: pre-wrap;
  color: lighten($kskp-text, 15%);
  font-size: 13px;
  padding: 0px 8px 0px 8px;
  margin: 0;
}