@import "../../../../../../sass/common";

.required {
  color: red;
}

.textArea {
  height: 40px;
}

.description {
  white-space: pre-wrap;
  color: lighten($kskp-text, 15%);
  font-size: 13px;
  padding: 0px 8px 0px 8px;
  margin: 0;
}