.paper {
  width: 450px;
  height: 500px;
}

.searchField {
  width: 450px;
}

.table {
  height: 450px;
}

.table tr:hover {
  background-color: #ddd;
}

.dropdown {
  position: absolute;
  width: 450px;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  max-height: 300px;
  border: 1px solid #f6f6f6;
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.role {
  option,
  optgroup {
    -webkit-appearance: none;
  }
}

.highlight {
  background-color: white;
  color:red!important;
}
