@import "../../../../../../../sass/common";

.categoryItem{
  display: flex;
  align-items: center;
  padding: 14px;
  height: 40px;
  color: #606C7D;
  &:hover{
    background: #f8f9fa;
  }

  cursor: pointer;
}