{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<h1>プロジェクト一覧</h1>
<ul>
    {% for proj in projects %}
      <li><b>{{ proj.name }}</b>(id: {{ proj.id }})</li>
      <ul>
        {% for flow in flows %}
          {% if flow.proj_id == proj.id %}
            <li><b>{{ flow.label }}</b>({{ flow.filename }})</li>
            <ul>
              {% for frame in flow.nodes %}
                <li><a href="/remove_cache?flow={{ flow.filename }}&frame={{ frame.id }}">キャッシュ削除！</a>(<b>label: {{ frame.label }}</b> id: {{ frame.id }} uuid: {{ frame.uuid }})</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
</ul>
<h1>どこからも使われていないCSV一覧</h1>
<a href="/delete_unused_csvs">全部削除！（実行する前は気をつけて！！）</a>
<ul>
{% for frame_uuid in unused %}
  <li>{{ frame_uuid }}</li>
{% endfor %}
</ul>
{% endblock %}