{% extends "common/base.html" %}
{% block title %}
{% endblock %}
{% block content %}
<script nonce="{{ nonce }}">
  const inject_project_uuid = '{{ project_uuid }}';
  const inject_flow_uuid = undefined;
</script>
<script src="{{ url_for('front_static.static', filename='js/bokeh-1.4.0.min.js') }}"></script>
<script src="{{ url_for('front_static.static', filename='js/bokeh-tables-1.4.0.min.js') }}"></script>
<script src="{{ url_for('front_static.static', filename='js/bokeh-widgets-1.4.0.min.js') }}"></script>
<script src="{{ url_for('front_static.static', filename='js/bokeh-api-1.4.0.min.js') }}"></script>
<div id="preview"></div>
{% endblock %}
