{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-40px">
    <div class="col-4 offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="/signup/complete" method="POST">
            <div class="form-group">
              <label for="login_email">ユーザーアカウント</label>
              <input id="login_email" name="email" type="text" class="form-control form-control-sm"
                     placeholder="メールアドレス" value="{{ email }}" disabled>
            </div>
            <div class="form-group">
              <label for="password">新しいパスワード</label>
              <input id="password" type="password" class="form-control form-control-sm"
                     placeholder="新しいパスワード" name="password">
            </div>
            <div class="form-group">
              <label for="confirm_password">新しいパスワード（確認用）</label>
              <input id="confirm_password" type="password" class="form-control form-control-sm"
                     placeholder="新しいパスワード">
            </div>
            <div class="form-group mt-20px">
              <input type="submit" id="submit" class="btn btn-primary btn-default btn-block" value="パスワードを登録してログイン">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script>
  const inject_project_uuid = undefined
  const inject_flow_uuid = undefined

  $(function () {
    // 初期ロード時は disabled をつける
    $("#submit").prop("disabled",true)

    $("#password,#confirm_password").on("keyup",function(){
      // パスワードが変更されたとき
      const disabled = !(hasPassword() && matchSamePassword())
      $("#submit").prop("disabled",disabled)
    })
  })

  const hasPassword = function (){
    return $("#password").val().length > 0
  }
  const matchPasswordLength = function (){
    return $("#password").val().length > 8
  }
  const overPasswordLength = function (){
    return $("#password").val().length > 100
  }
  const matchPasswordPattern = function (){
    return validatePassword($("#password").val())
  }
  const matchSamePassword = function (){
    const password = $("#password").val()
    const confirm_password = $("#confirm_password").val()
    return (password === confirm_password)
  }
  // 英数8文字以上、100文字以下
  const validatePassword = function (password){
    const regex = RegExp('^(?=.*?[a-z])(?=.*?\d)[a-z\d]{8,100}$')
    return regex.test(password)
  }


</script>
{% endblock %}

