@import "../../../../../sass/common";

.property_title{
  color: $kskp-text;
  font-size: 16px;
  padding: 12px 0;
  text-align: left;
  clear: both;
}


.property_basic_operators{
  height: 480px;
  overflow: scroll;
  border:1px solid #ccc;
}

.command_separator{
  background-color: $kskp-property-command-separator-background-color;
  color: $kskp-property-command-separator-color;
  border-top: 1px solid $kskp-property-command-separator-background-color;
  margin: 0 -8px;
  padding: 2px 12px+12px;
  font-size: 14px;
  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }
}