.visualization {
  height: 100%;
}

.visualization_container {
  height: 100%;
  float: left;
  width: calc(100% - 400px);
}

.visualization_property {
  height: 100%;
  width: 400px;
  float: right;
  background: #FFFFFF;
}

.kskp-visualization-property-header {
  padding: 16px;
}
.kskp-visualization-property-body {
  padding: 16px;
}

.visualization_body {
  padding: 16px;
  width: 100%;
  height: calc(100% - 66px);
  background: #F4F4F4;
}

