@use 'sass:color';
@use '../../../../../sass/common';

.addButton {
  color: common.$primary-link-color;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  &:hover {
    color: color.adjust(common.$primary-link-color, $lightness: -10%);
  }
  &.disabled{
    cursor: default;
    opacity: 0.5;
  }
}

.icon {
  font-size: 18px;
  position: relative;
  margin-right: 4px;
  top: 3px;
}
