@import "../../../../../sass/common";

.pageTitleHeader {
  width: 100%;
  border-radius: 8px;
  padding: 12px 16px 12px 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #606c7a;
  @include button-background-color();
}

.pageTitle {
  display: inline-flex;
  white-space: nowrap;
  min-width: 200px;
}

.searchHeaderContainer{
  display: flex;
  width: 100%;
  align-items: center;
  // justify-content: space-between;
}

.searchBarContainer,.filterLinkContainer {
  display: inline-flex;
  width: 100%;
  min-width: 160px;
  align-items: center;
}

// キーワード入力(TextField2)
.searchBarContainer{
  max-width: 32rem;
  div{
    @include list-color();
  }
}

.filterLinkContainer{
  max-width: 64rem;
}

.resultCount{
  min-width: 200px;
  color: #606c7a;
  white-space: nowrap;
}

.resultAndFilterContainer{
  display: flex;
  width: 100%;
  // justify-content: space-between;
  align-items: center;
  height: 44px;
}
