@import "../../../../../sass/common";



.property {
  position: fixed;
  width: 400px;
  right: -400px;
  top: 55px;
  height: 100%;
  transition: opacity 0.2s linear, right 0.2s ease-in;
  opacity: 0;
  box-shadow: 0 1px 3px $kskp-property-shadow;
  @extend .user-select;
}

.in {
  right: 0;
  opacity: 1;
}
