@import "../../../../sass/common";

.dropdownListContainer {
  position: relative;
}

.action {
  width: calc(100% - 40px);
}

.actionLabel {
  width: 40px;
  right: -44px;
  font-size: 14px;
  top: 8px;
  position: absolute;
  text-align: center;
  color: $kskp-danger;

  &:hover {
    color: $kskp-danger !important;
    opacity: 0.7;
    text-decoration: none;
  }
}

.dropdownList {
  padding: 6px 24px 6px 6px;
  border-radius: 4px;
  width: 100%;
  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03IDEwbDUgNSA1LTV6IiBmaWxsPSIjNjA2QzdBIi8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==") no-repeat right 2px center;
  background-color: $kskp-form-background-color;
  -webkit-appearance: none;
  color: $kskp-text;
  border-color: #CED4DA;
}

.hasLabel {
  padding-left: 84px;
}

.label {
  position: absolute;
  top: 7px;
  left: 6px;
  border: 1px solid $kskp-port-border-color;
  border-radius: 4px;
  padding: 0 4px;
  color: $kskp-port-label-color;
  text-align: center;
  width: 72px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
