@import "../../../../../../sass/common";

.required {
  color: red;
}

.textArea {
  height: 40px;
}


.label {

}


.description {
  width: 100%;
  word-wrap: normal;
  white-space: pre-wrap;
  color: lighten($kskp-text, 15%);
  font-size: 13px;
  padding: 0px 8px 0px 8px;
  margin: 0;
}

.labelPopper {
  background-color: white;
  border:1px solid;
  padding:5px;
  border-radius: 10px; 

  label {
    word-break: keep-all;
  }

  p {
    font-size: 10px;
  }
}

.input {

}

.inputPopper {
  width: 400px;
}