@import "../../../sass/common";

.page_title {
  color: $kskp-text;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  max-width: 480px;
  padding: 32px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px $kskp-property-shadow;
}
