@use '../../../../../sass/common';

.label{
  display: inline-flex;
  font-size: 16px;
  color: #606c7a;
  width: 140px;
}

.addUserLabel{
  font-size: 16px;
  color: #606c7a;
}
.addUserDetail{
  display: flex;
  font-size: 16px;
  color: #606c7a;
}

.textField{
  display: inline-flex;
  input{
    width: 300px;
  }
}

.select{
  display: inline-flex;
  > div{
    width: 300px;
  }
  div[class*="menu"]{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
  }
}