@import "../../../../../sass/common";


.project_list{
  position: relative;
  display: block;
  border-radius: 0;
  color: $kskp-text;
  background: #fff;
  padding: 16px;
  &:hover{
    color: $kskp-text;
    text-decoration: none!important;
    opacity: 0.8;
  }
}

.new{
  text-align: center;
  .project_list{
    color: $kskp-list-link-color;
    .icon{
      color: $kskp-list-link-color;
    }
  }
}

.icon{
  color: $kskp-text;
  font-size: 18px;
  position: relative;
  display: inline-block;
  top: 2px;
  padding-right: 8px;
}

.project{
  display: block;
  border-top: 1px solid $kskp-list-border-color;
  &:first-child,&:last-child{
    border-bottom: 1px solid $kskp-list-border-color;
  }
}

.name{
  display: inline-block;
  width: calc(100% - 20% - 200px - 80px);
}
.created_at{
  display: inline-block;
  width: 200px;
}
.creator_name{
  display: inline-block;
  width: 20%;
}
.action{
  display: inline-block;
  width: 80px;
  color: $kskp-list-link-color;
  a{
    color: $kskp-list-link-color;
  }
}