@import "../../../../sass/common";

.canvas_tool {
  position: absolute;
  top: 80px;
  left: 50%;
}

.zoom {
  bottom: 44px;
  left: 20px;
}

.action {
  bottom: 20px;
  left: 160px;
}

.btn {
  color: $kskp-text !important;
}

.text, .icon {
  color: $kskp-text !important;
  font-size: 12px;
  display: inline-block;
}

.icon {
  color: $kskp-text !important;
  font-size: 22px;
  line-height: 1em;
}

.action_btn {
  padding: 4px 24px;
}


.zoom_in, .zoom_out {
  padding: 4px 8px;
}