.param {
  margin: 0;
    i {
      float:right;
      color:gray;
      margin: 10px 0px 0px 0px;
      padding: 2px;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 15px;
    }

    i:hover {
      background-color:  lightgray;
    }

    i:active {
      transform: translateY(4px);
    }
}

.label {
  margin: 0;
  padding: 0 !important;
}

.checkbox {
  position: relative;
  top: -2px;
  margin-right: 8px;
}

.required {
  color: red;
}

