.labelContainer {
  

  label:nth-child(1) {
    width:75px;
    font-size: 12px;    
  }

  label:nth-child(n + 2) {
    width:175px;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
  }
}

.paramElement {

  display: table;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  padding: 5px;

  div:nth-child(1) {
    display: table-cell;
    width: 80px;
    float: left;  
  }

  div:nth-child(n + 2) {
    display: table-cell;
    width: 175px;
    float: left;
    padding-right: 5px;
  }

  button {
    width: 50px;
    float: right;
    margin: 3px 3px 0px 3px;
    padding: 3px 0px 0px 0px;
  }
}

.paramElement > div {
  padding-right: 5px;
}