@import "../../../../../../sass/common";

.list {
    .elements {
        display: flex;
        flex-direction: row;

        .row {
            display: flex;
            flex-direction: row;
 
            .elementContainer {
                border: 1px solid lightgray;
                border-radius: 5px;
                display: flex;
                flex-direction: row;

                .element {
                    display: flex;
                    flex-direction: column;
                    margin: 4px;
                    justify-content: space-between;

                    .label {
                    }

                    .input {
                    }
                }
            }
            .buttons {
                display: flex;
                align-self: flex-start;
                padding-left:8px;
            }
        }
    }
}
