@import "../../../../sass/common";

.header{
  font-weight: bold;
  color: $kskp-text;
}

.search_bar{
  max-width: 568px;
  margin: 0 auto;
}

.inspector_list_container{
  padding-right: 400px;
  overflow-x:scroll;
  height: 100vh;
}

.flow_toolbar {
 
  width: 100%;
  top: 100px;
  left: 10px;
}