<nav class="navbar navbar-expand-lg navbar-dark fixed-top flex-column flex-md-row">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/logo.png')}}" height="30" class="d-inline-block align-top"
             alt="">
    </a>
    <div class="collapse navbar-collapse breadcrumb-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item list">
                <a class="nav-link" href="{{ url_for('projects')}}">
                    <img class="icon" src="{{ url_for('static', filename='images/icon/list.svg')}}" />
                    プロジェクト
                </a>
            </li>
            <li class="nav-item project">
                <a class="nav-link" href="/flows?project=70218468-417E-458B-B820-A17C55D04AF9">
                    <img class="icon" src="{{ url_for('static', filename='images/icon/folder.svg')}}" />
                    サンプルプロジェクト
                </a>
            </li>
            <li class="nav-item flow active">
                <a class="nav-link" href="/flows/70218468-417E-458B-B820-A17C55D04AF9">
                    <img class="icon" src="{{ url_for('static', filename='images/icon/flow.svg')}}" />
                    サンプルフロー
                </a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse menu-navbar">
        <ul class="navbar-nav">
            <li class="nav-item designer active">
                <a class="nav-link" href="/flows/70218468-417E-458B-B820-A17C55D04AF9">
                    <img class="icon" src="{{ url_for('static', filename='images/icon/designer.svg')}}" />フローデザイナー
                </a>
            </li>
            <li class="nav-item library">
                <a class="nav-link" href="">
                    <img class="icon" src="{{ url_for('static', filename='images/icon/library.svg')}}" />ライブラリ
                </a>
            </li>
            <li class="nav-item user">
                <a class="nav-link" href="">
                    <img class="icon" src="{{ url_for('static', filename='images/icon/user.svg')}}" />山本 太郎
                </a>
            </li>
        </ul>
    </div>
</nav>
