@use '../../../../../sass/common';


.flow_toolbar_button {
  border: 1px solid common.$streamcat-toolbar-border;
  border-radius: 4px;
  box-shadow: 0 1px 1px common.$streamcat-toolbar-shadow;
  margin: 0 4px;
  outline: none !important;
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.paper_toolbar_button {
  border-radius: 3px;
  margin: 0 4px;
  outline: none !important;
  cursor: pointer;
  border: none;
  background: common.$streamcat-paper-toolbar-background-color;

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}


.text {
  color: common.$streamcat-text !important;
  font-size: 12px;
  display: inline-block;
}

.icon {
  display: inline-block;
  color: common.$streamcat-text !important;
  font-size: 16px;
  line-height: 1em;
  padding-right: 4px;
  position: relative;
  top: 3px;
}
