@import "../../../../sass/common";

.property {
  position: fixed;
  width: 400px;
  right: -400px;
  top: 64px;
  height: 100%;
  transition: opacity 0.2s linear, right 0.2s ease-in;
  opacity: 0;
  box-shadow: 0 1px 3px $kskp-property-shadow;
  @extend .user-select;
}

.in {
  right: 0;
  opacity: 1;
}

.property_container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}


.property_header{
  font-size: 18px;
  color: $kskp-text;
  background-color: $kskp-property-background-color;
  border-bottom:1px solid $kskp-property-border-color;
}

.property_title{
  color: $kskp-text;
  font-size: 16px;
  padding: 0 0 8px;
  text-align: left;
  clear: both;
}

.property_body{
  padding: 16px;
  background-color: $kskp-property-background-color;
  min-height: 100%;
  label{
    font-size: 14px;
    color: $kskp-text;
    padding: 8px 0 4px;
    margin: 0;
  }
}


.icon {
  cursor: pointer;
}

.hr{
  border-top:1px solid $kskp-property-border-color;
  margin: 8px -8px 8px -8px;
  height: 8px;
}

.full_hr{
  border-top:1px solid $kskp-property-border-color;
  margin: 16px -16px 8px -16px;
  height: 8px;
}

.property_overview{
}

.overview{
  clear: both;
  display: block;
  overflow: hidden;
}

.overview_label{
  float: left;
  width: 120px;
  color: $kskp-property-overview-label-color;
  margin-bottom: 8px;
  font-size: 14px;
}

.overview_value{
  float: left;
  width: calc(100% - 120px);
  text-align: left;
  color: $kskp-property-overview-value-color;
}

.flowInOut{
  text-align: left;
  label{
    margin: 0;
    padding: 0;
  }
}

.output{
  color: $kskp-text;
  padding-left: 12px;
}

.param{
  padding-bottom: 8px;
  &:last-of-type{
    padding-bottom: 0;
  }
}

.title{
  border: none;
  width: 100%;
  padding: 4px 8px;
  position: relative;
  &::before{
    content: "編集";
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &:hover{
    border-bottom: 2px dotted $kskp-text;
    cursor: pointer;
  }
  &:active,&:focus{
    border: inherit;
  }
}