@import "../../../../sass/common";

.property {
  position: fixed;
  width: 400px;
  right: -400px;
  top: 64px;
  height: 100%;
  transition: opacity 0.2s linear, right 0.2s ease-in;
  transition: width 0.1s;
  opacity: 0;
  @extend .user-select;
  box-shadow: 0 1px 3px $kskp-property-shadow;
  &.isClosed{
    background: #fafafa;
  }
  &.willClosed{
    opacity: 0.5;
    pointer: col-resize;
  }
  &.isDragging{
    @extend .user-not-select;
  }
}

.property_dialog {
  position: fixed;
  width: 400px;
  right: -400px;
  top: 0px;
  height: 100%;
  transition: opacity 0.2s linear, right 0.2s ease-in;
  transition: width 0.1s;
  opacity: 0;
  @extend .user-select;
  box-shadow: 0 1px 3px $kskp-property-shadow;

  &.isClosed {
    background: #fafafa;
  }

  &.willClosed {
    opacity: 0.5;
    pointer: col-resize;
  }

  &.isDragging {
    @extend .user-not-select;
  }
}

.in {
  right: 0;
  opacity: 1;
}

.property_container {
  height: calc(100% - 64px);
  width: 100%;
  overflow: scroll;
}

.property_header{
  font-size: 18px;
  color: $kskp-text;
  background-color: $kskp-property-background-color;
  border-bottom:1px solid $kskp-property-border-color;
}

.property_label{
  color: $kskp-text;
  font-size: 16px;
  padding: 0 0 8px;
  text-align: left;
  clear: both;
}

.property_name{
  color: $kskp-text;
  font-size: 14px;
  padding: 0 0 8px;
  text-align: left;
  clear: both;
}

.property_body{
  padding: 16px;
  padding-bottom: 64px;
  background-color: $kskp-property-background-color;
  min-height: 100%;
  label{
    font-size: 14px;
    color: $kskp-text;
    padding: 8px 0 4px;
    margin: 0;
  }
}


.icon {
  cursor: pointer;
}

.hr{
  border-top:1px solid $kskp-property-border-color;
  margin: 8px -8px 8px -8px;
  height: 8px;
}

.full_hr{
  border-top:1px solid $kskp-property-border-color;
  margin: 16px -16px 8px -16px;
  height: 8px;
}

.property_overview{
}

.overview{
  clear: both;
  display: block;
  overflow: hidden;
}

.overview_label{
  float: left;
  width: 120px;
  color: $kskp-property-overview-label-color;
  margin-bottom: 8px;
  font-size: 14px;
}

.overview_value{
  float: left;
  width: calc(100% - 120px);
  text-align: left;
  color: $kskp-property-overview-value-color;
}

.flowInOut{
  text-align: left;
  label{
    margin: 0;
    padding: 0;
  }
}

.flowCacheCheck{
  text-align: left;
  label{
    margin: 0;
    padding: 0;
  }
}

.output{
  color: $kskp-text;
  padding-left: 12px;
}

.param{
  padding-bottom: 8px;
  &:last-of-type{
    padding-bottom: 0;
  }
}

.label{
  border: none;
  width: 100%;
  padding: 4px 0;
  position: relative;
  color: $kskp-text;
  border-bottom: 1px dotted transparent;
  &:hover{
    border-bottom: 1px dotted $kskp-text;
    cursor: pointer;
  }
  &:active,&:focus{
    border: inherit;
  }
  &:disabled{
    border:none!important;
    cursor: default;
  }
}

.left{
  display: inline-block;
  float: left;
  width: calc(100% - 100px);
}

.right{
  width: 100px;
  display: inline-block;
  text-align: right;
  float: right;
  padding-top: 4px;
}

.flow_param{
  clear: both;
  margin-bottom: 8px;
  overflow: scroll;
}

.new_flow_params{
  color: $primary-link-color;
  font-size: 14px;
  clear: both;
  margin-top: 8px;
  cursor: pointer;
  text-align: center;
}


.new_flow_params_icon {
  font-size: 18px;
  position: relative;
  display: inline-block;
  top: 2px;
  padding-right: 8px;
}

.invalid_message{
  padding-top: 4px;
  color: red;
  font-size: 12px;
}

.presence{

}

.presence label{
  &:after{
    content: "*";
    display:inline-block;
    color: red;
  }
}

.invalid input[type=text]{
  background: lighten(#F51F28,40%);
}

.file_list_table{
  width: 100%;
  th{
    color: $kskp-text;
    font-weight: normal;
    border-bottom:1px solid $kskp-text;
  }
  th,td{
    font-size: 14px;
  }
}

.activity{
  clear: both;
  width: 100%;
  .activity_log{
    font-size: 14px;
  }
  .activity_user{
    float:right;
    font-size: 12px;
    color: $kskp-text;
  }
  .activity_time{
    float: left;
    font-size: 12px;
    color: $kskp-text;
    margin-bottom: 8px;
  }
}

.noDescription{
  color: $kskp-gray;
}

.cache_ {
  display: inline-block;
}

.cache_label {
  display: inline-block;
  color: $kskp-property-overview-label-color;
  margin-bottom: 8px;
  font-size: 14px;
}

.cache_value {
  display: inline-block;
  color: $kskp-property-overview-value-color;
  margin-bottom: 8px;
  margin-left: 8px;
  font-size: 14px;
}

.cache_delete {
  float: right;
  margin-top: 8px;
  margin-left: 8px;
}

.outPort_ {
  margin-bottom: 8px;
  &:last-of-type{
    margin-bottom: 0;
  }
  position: relative;
  display: flex;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  padding: 6px;
  background: #e9ecef;
}

.outPort_Port {
  width: 94px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid $kskp-port-border-color;
  border-radius: 4px;
  padding: 0 4px;
  font-size: 14px;
  align-self: flex-start;
  color: $kskp-port-label-color;
  text-align: center;
  background: #fff;
}

.outPort_Node {
  color: #999;
  text-align: left;
  padding: 0 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

ul,li {
  list-style: none;
  padding-inline-start: 0px;
}

li {
  margin-bottom: 8px;
}
