@use '../../../../../../../sass/common';

.listItem,.listItemMultiple{
  padding: 14px;
  height: 48px;
  color: #606C7D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:hover{
    background: #f8f9fa;
  }
  img{
    margin-right: 0!important;
  }
  .listItemLabel{

  }
}

.listItemMultiple{
  flex-direction: row-reverse;
  justify-content: flex-end;
  img{
    margin-right: 12px!important;
  }
}