{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<!-- {{ projects }} -->
<div class="container mt-40px">
    <div class="text-center">
        <div class="kskp-form">
            <div class="row no-gutters">
                <div class="col-md-3">

                </div>
                <div class="col-md-5">
                    <input id="project_search_text" type="text" class="form-control" placeholder="プロジェクトを検索" value="{{ search_string }}">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-secondary px-24px" onclick="searchProject()">検索</button>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-40px">
        <div class="col-md-12">
            {% if projects|length > 0 %}
            <div class="kskp-list-header kskp-list-icon">
                <div class="row">
                    <div class="col-sm-4">
                        名称
                    </div>
                    <div class="col-sm-3">
                        作成者
                    </div>
                    <div class="col-sm-3">
                        作成日
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            {% endif %}
            {% if projects|length == 0 %}
            <div class="kskp-list kskp-list-icon mb-8px">
                プロジェクトが見つかりませんでした。
            </div>
            {% endif %}

            {% for project in projects %}
            <div class="kskp-list kskp-list-icon mb-8px">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="projects/{{ project.uuid }}/dataflows">{{ project.name }}</a>
                    </div>
                    <div class="col-sm-3">
                        {{ project.author.name }}
                    </div>
                    <div class="col-sm-3">
                        {{ project.created_at }}
                    </div>
                    <div class="col-sm-2 text-right">
                        <a href="#" onclick="destroyProject('{{ project.uuid }}')">削除</a>
                    </div>
                </div>
                <div class="icon"><i class="icon material-icons">&#xE873;</i></div>
            </div>
            {% endfor %}
            <a data-toggle="modal" data-target="#newProjectModal" class="kskp-list kskp-list-link kskp-list-dotted kskp-list-icon text-center mb-8px">
                <span class="icon"><i class="icon material-icons">&#xE148;</i></span>
                新しいプロジェクトを始める
            </a>

            <div class="modal fade" id="newProjectModal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form onsubmit="sendProjectData()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">新しいプロジェクトを始める</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input id="project_name" type="text" class="form-control" value="" placeholder="プロジェクト名">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                            <button type="submit" class="btn btn-secondary">
                                作成する
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script>
  function refreshSubmitDisabled(){
    var has_project_name = ($("#project_name").val())?true:false;
    if(has_project_name){
      $("[type=submit]").prop("disabled",false);
    }else{
      $("[type=submit]").prop("disabled",true);
    }
  }

  $(function() {
    refreshSubmitDisabled();
    $("#project_name").on("keyup",function(){
      refreshSubmitDisabled();
    });
  });

  function sendProjectData() {
    console.log('wowow');
    let project_elem = document.getElementById('project_name');
    let project_name = project_elem.value;

    let projData = {
      'author': {
        'name': '{{ user_name }}'
      },
      'name': project_name
    };
    // sendJsonData('POST', "{{ url_for('api.new_project') }}", projData, function(){
    //   window.location.href = '/projects';
    // });
    sendJsonData('POST', "/api/v0/projects", projData, function(){
      window.location.href = '/projects';
    });
  }

  function destroyProject(uuid) {
    if(window.confirm("このプロジェクトを削除してもよろしいですか？")){
      sendJsonData('DELETE', '/api/v0-1/projects/' + uuid, null, null);
      window.location.href = '/projects';
    }
  }

  function searchProject() {
    let search_string = document.getElementById('project_search_text').value;
    window.location.href = '/projects?search=' + search_string;
  }
</script>
{% endblock %}
