.navbar {
  background: $kskp-nav-background-color;
  height: 64px;
  padding: 0 12px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar-brand {
    display: inline-flex;
    margin-right: 40px;
    padding: 0;
    img{
      padding: 0;
      height: 25px;
    }
  }
  .breadcrumb-navbar{
    .navbar-nav{
      display: flex;
    }
    .nav-item{
      margin: 0!important;
      padding: 6px 16px;
      background: rgba(255,255,255,0.2);
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 64px;
      width: 150px;
      .icon{
        width: 20px;
        height: 18px;
        position: relative;
        margin-right: 8px;
      }
      &.list .icon{
        top: -1px;
      }
      &.project .icon{
        top: -1px;
      }
      &.flow .icon{
        top: -2px;
      }
      .nav-link{
        display: inline-block;
        padding: 0;
        color: #fff;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 240px;
        overflow: hidden;
      }
      border-bottom: 4px solid transparent;
      &.active{
        .nav-link{
          color: #fff!important;
        }
        background: transparent!important;
        border:1px solid $kskp-nav-active-border-color;
      }
    }
  }
  .menu-navbar{
    display: flex;
    .nav-item{
      margin: 0!important;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 34px;
      padding: 4px 16px;
      border-radius: 4px;
      color: #fff;
      &.active{
        &:after{
          content: " ";
          width: 100%;
          display: inline-block;
          margin-bottom: -3px;
          border-bottom:4px solid $kskp-nav-active-border-color;
        }

      }
    }
    .nav-link{
      color: #fff;
      display: inline-block;
      padding: 0;
      font-size: 14px;
      min-width: 100px;
      text-align: center;
      white-space: nowrap;
      .icon{
        width: 18px;
        height: 18px;
        position: relative;
        margin-right: 8px;
      }
    }
    .user{
      .nav-link{
        display: flex;
        align-items: center;
        &::after{
          margin-left: 16px;
          margin-right: 8px;
          border-top-width: 5px;
          border-right-width: 5px;
          border-left-width: 5px;
        }
        .icon{
          margin-right: 8px + 4px;
        }
      }
    }
  }
  //.menu-navbar{
  //  .nav-item{
  //    height: 64px;
  //    padding: 12px;
  //    color: #fff;
  //    .nav-link{
  //      color: #fff!important;
  //    }
  //    border-bottom: 4px solid transparent;
  //    &.active{
  //      .nav-link{
  //        color: #fff!important;
  //      }
  //      border-bottom: 4px solid #71D4FD;
  //      font-weight: bold;
  //    }
  //  }
  //}
  .user-profile {
    padding: 0.5rem;
    border-bottom: 4px solid transparent;
    .user-name, .user-icon {
      color: #fff !important;
      font-size: 14px;
      line-height: 14px;
    }
    .user-name{
      margin-left: 8px;
    }
    .user-icon {
      font-size: 18px;
      margin-top: -1px;
    }
  }
}
//
//
//.navbar {
//  height: 64px;
//  padding: 0 12px;
//  .user-profile {
//    padding: 0.5rem;
//    border-bottom: 4px solid transparent;
//    .user-name, .user-icon {
//      color: #fff !important;
//      font-size: 14px;
//      line-height: 14px;
//    }
//    .user-name{
//      margin-left: 8px;
//    }
//    .user-icon {
//      font-size: 18px;
//      margin-top: -1px;
//    }
//  }
//}
//
//
