@import "../../../../sass/common";

.breadCrumb {
  list-style: none;
  padding: 0;
  margin: 16px;

  li {
    display: inline-block;

    a {
      display: inline-block;
    }

    &:before {
      content: '›';
      width: 30px;
      display: inline-block;
      text-align: center;
    }

    &:first-child:before {
      content: none !important;
    }
  }
}