@import "../../../sass/common";

.header{
  font-weight: bold;
  color: $kskp-text;
}

.search_bar{
  max-width: 568px;
  margin: 0 auto;
}

.inspector_list_container{
  margin-right: 400px;
  overflow-x:scroll;
}