@import "../../../../sass/common";

.command{
  display: block;
  height: 64px;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
}
.command_label_container{
  padding: 0 4px;
  float: left;
  display: inline-block;
  width: calc(100% - 60px);
}

.command_label{
  color: $kskp-property-operator-label-color;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
}

.command_description{
  padding-top:4px;
  text-overflow: ellipsis;
  font-size: 8px;
}

.command_icon{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 4px;
  //border: 1px solid $kskp-property-operator-border-color;
  //background: $kskp-property-operator-background-color;
  //color: $kskp-property-operator-icon-color;
  //border-radius: 6px;
  //font-size: 28px;
  //padding: 6px;
  float: left;
}
