@import "../../../../../sass/common";

.breadCrumb{
  width: 100%;
  height: 56px;
  border-radius: 8px;
  @include button-background-color();
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #606c7a;
}
